{% extends 'base.html' %}

{% block content %}
    <h3>Login</h3><br>
    <div style="padding: 10px;">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-sm-2">
        <input type="text" name="username" placeholder="Username" class="form-control"></div></div>
        <div class="mb-3 row">
            <div class="col-sm-2">
        <input type="password" name="password" placeholder="Password" class="form-control"></div></div>
        <button type="submit" class="btn btn-primary mb-3">Login</button>
    </form>    
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up Here</a></p>
</div>
    {% endblock %}